
.navigation {
  font-family: 'Inter', sans-serif;
  padding-top: 20px;
  padding-bottom: 100%;
  padding-left: 30px;
  width: 250px;
}

.title {
  
  padding-top: 10px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  text-align: center;
  background: #F65A83;
 
}

h1 {
  margin-bottom: 0;
  padding-bottom: 10px;
}

section {
  padding-bottom: 20px;
}

.content {
  font-family: 'Inter', sans-serif;
  padding-top: 30px;
  padding-left: 30px;
}


/* a:hover {
  text-decoration: underline;
} */

a:hover, a:focus{
  color: red;
  text-decoration: underline;
 
}

.navbar{
  font-family: 'Inter', sans-serif;
}

.introsec{

  margin-bottom: 30px;

}


